In [15]:
a=100

In [16]:
## decleaing and assigning variables

age=32
height=6.1
name="arun"
is_student=True

#printing variables

print("age:",age)
print("height",height)
print("name:",name)

age: 32
height 6.1
name: arun

In [19]:
collage="klecet"
branch="MCA"
classname="1st sem"
int=46
abs=10
prs=30
print("instutation name:",kle)
print("branch:",branch)
print("class:",classname)
print("total students:",int)
print("absent:",abs)
print("present",prs)

instutation name: klecet
branch: MCA
class: 1st sem
total students: 46
absent: 10
present 30

In [26]:
##valid variable name 
frist_name="Arun"
last_name="bellad"
print("last name:",last_name)

##case sensitavie 
name="arun"
Name="bellad"
print(name,Name)
print(Name)

last name: bellad
arun bellad
bellad

In [36]:
##understaning types of variables
age=25 #int
name="arun" #str
height=5.1 #float
is_student=True #boolen 

print(type(height))
print(name,type(name))

<class 'float'>
arun <class 'str'>

In [35]:
type(age)

int

In [39]:
age=25
print(type(age))

##type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [47]:
height=163.7
type(height)

float

In [50]:
##dynamic typing 
##python allow the type of variable to chanage as the program excutes
var=10
print(var,type(var))

var="name"
print(var,type(var))

var="5.7"
print(var,type(var))

10 <class 'int'>
name <class 'str'>
5.7 <class 'str'>

In [2]:
#input
age=int(input("what is the age"))
print(age,type(age))

20 <class 'int'>

In [53]:
### Simple calculator

num1 = float(input("enter frist number"))
num2 = float(input("enter second number"))

sum = num1+num2
product= num1*num2
difference=num1-num2
quotient=num1/num2

print("sum:",sum)
print("product:",product)
print("difference:",difference)
print("quotient",quotient)

sum: 30.0
product: 200.0
difference: -10.0
quotient 0.5